@font-face {
    font-family: Georgia-regular ; /* Гарнитура шрифта */
    font-weight: normal;
    src: url("../../assets/fonts/georgia/georgia-regular.ttf"); /* Путь к файлу со шрифтом */
}


@media only screen and (min-width: 1280px) { 

    body {
        padding: 0 ;
        margin: 0;
        
    }

    .container {
        
        display: block;
        /*margin: 0 auto;*/
        /*max-width: 768px;*/
        /*width: 100%;*/
        /*min-width: 768px;*/
        top: 0px;

        height: 100%;

        overflow: hidden;
        
        
    }

    .main {
        display: block;
        position: relative;

        width: 1280px;
        height: 1000px;

        top: 0px;

        margin: 0 auto;
        padding: 0;

        background-color: rgb(28, 26, 26);

    }

    .slider {
        display: block;
        position: relative;

        width: 1200px;
        height: 800px;

        top: 25px;

        margin: 0 auto;
        padding: 0; 

        /*background-color: rgb(195, 131, 131);*/

        border: 2px solid black;

        border-radius: 20px;


    }

    .foto1 {
        display: block;
        position: relative;

        visibility: visible;

        height: 800px;

        top: 0px;

        margin: 0 auto;
        padding: 0;
        
        border: 2px solid black;

        border-radius: 15px;

    
    }

    .foto2 {
        display: block;
        position: absolute;

        visibility: hidden;

        height: 800px;

        top: 0px;

        margin: 0 auto;
        padding: 0;
        
        border: 2px solid black;

        border-radius: 15px;
    
    }

    .foto3 {
        display: block;
        position: absolute;

        visibility: hidden;

        height: 800px;

        top: 0px;

        margin: 0 auto;
        padding: 0;
        
        border: 2px solid black;

        border-radius: 15px;
    
    }

    .foto4 {
        display: block;
        position: absolute;

        visibility: hidden;

        height: 800px;

        top: 0px;

        margin: 0 auto;
        padding: 0;
        
        border: 2px solid black;

        border-radius: 15px;
    
    }

    

    .about {
        display: flex;
        position: relative;

        width: 1200px;
        height: 100px;

        top: 50px;

        margin: 0 auto;
        padding: 0; 

        justify-content: space-between;

        /*
        background-color: rgb(195, 131, 131);

        border: 2px solid black;

        border-radius: 20px;

*/
    }

    .text1 {

        position: relative;
        display: block;

        height: 100px;
        width: 1200px;

        top: 25px ;

        color: white;

        font-family: "Georgia-regular";
        font-weight: 400;
        font-style: normal;

        text-align: left;

        font-size: 32px;
        line-height: 32px;
        letter-spacing: 1.7px;

        margin: 0;
        padding: 0;


    }

    .text2 {

        position: relative;
        display: block;

        visibility: hidden;

        height: 100px;

        top: 25px ;

        color: white;

        font-family: "Georgia-regular";
        font-weight: 400;
        font-style: normal;

        text-align: left;

        font-size: 32px;
        line-height: 32px;
        letter-spacing: 1.7px;

        margin: 0;
        padding: 0;


    }

    .text3 {

        position: relative;
        display: block;

        visibility: hidden;

        height: 100px;

        top: 25px ;

        color: white;

        font-family: "Georgia-regular";
        font-weight: 400;
        font-style: normal;

        text-align: left;

        font-size: 32px;
        line-height: 32px;
        letter-spacing: 1.7px;

        margin: 0;
        padding: 0;


    }

    .text4 {

        position: relative;
        display: block;

        visibility: hidden;

        height: 100px;

        top: 25px ;

        color: white;

        font-family: "Georgia-regular";
        font-weight: 400;
        font-style: normal;

        text-align: left;

        font-size: 32px;
        line-height: 32px;
        letter-spacing: 1.7px;

        margin: 0;
        padding: 0;


    }

    .control {
        display: flex;
        position: relative;

        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        width: 800px;

        margin: 0;

    }

    .control1 {
        display: block;
        position: relative;

        width: 50px;
        height: 50px;

        border: 6px solid blue;
        border-radius: 25px;
        box-sizing: border-box;

        cursor: pointer;


    }
    
    .control2 {
        display: block;
        position: relative;

        width: 50px;
        height: 50px;

        background-color: blue;
        border-radius: 25px;

        cursor: pointer;

    }

    .control3 {
        display: block;
        position: relative;

        width: 50px;
        height: 50px;

        background-color: blue;
        border-radius: 25px;

        cursor: pointer;

    }

    .control4 {
        display: block;
        position: relative;

        width: 50px;
        height: 50px;

        background-color: blue;
        border-radius: 25px;

        cursor: pointer;

    }

    
    .control2:hover , .control3:hover , .control4:hover {
        background-color: white;


    }
   

    .control1:hover {
        border: 6px solid white;

    }

    

    .control2:hover + img > .foto2 {
        visibility: visible;

    }

    /*
    .control2:hover + .foto1 {
        visibility: hidden;

    }

    
    .control2:hover .foto3 {
        visibility: hidden;

    }

    .control2:hover .foto4 {
        visibility: hidden;

    }

    */




}


@media only screen and (min-width: 320px) and (max-width: 1279.9px) {
    body {
        padding: 0 ;
        margin: 0;
        
    }

    .container {
        
        display: block;
        /*margin: 0 auto;*/
        /*max-width: 768px;*/
        /*width: 100%;*/
        /*min-width: 768px;*/
        top: 0px;

             
        overflow-x: hidden;
        
    }

    .main {
        display: block;
        position: relative;

        /*
        width: 320px;
      
        height: 700px;

        */
                         
        top: 0px;

        margin: 0;
        padding: 0;

        background-color: rgb(28, 26, 26);

    }

    .slider {
        display: block;
        position: relative;
        /*
        width: 290px;
        */
        width: calc( 100% - 30px) ;


        top: 25px;

        margin: 0 auto;
        padding: 0; 

        /*background-color: rgb(195, 131, 131);*/

        border: 2px solid black;

        border-radius: 20px;


    }

    .foto1 {
        display: block;
        position: relative;

        width: calc( 100% ) ;
        
        top: 0px;

        margin: 0 auto;
        padding: 0;
        
        border: 2px solid black;

        border-radius: 20px;

    }

    .foto2 {
        display: block;
        position: absolute;

        visibility: hidden;

        width: calc( 100% ) ;
        
        top: 0px;

        margin: 0 auto;
        padding: 0;
        
        border: 2px solid black;

        border-radius: 20px;

    }

    .foto3 {
        display: block;
        position: absolute;

        visibility: hidden;

        width: calc( 100% ) ;
        
        top: 0px;

        margin: 0 auto;
        padding: 0;
        
        border: 2px solid black;

        border-radius: 20px;

    }

    .foto4 {
        display: block;
        position: absolute;

        visibility: hidden;

        width: calc( 100% ) ;
        
        top: 0px;

        margin: 0 auto;
        padding: 0;
        
        border: 2px solid black;

        border-radius: 20px;

    }

    .about {
        display: block;
        position: relative;

        width: calc( 100% - 20px) ;
        height: 250px;

        top: 50px;
        /*
        bottom: -60px;
        */
        margin: 0 auto;
        padding: 0; 

        justify-content: space-between;

        /*
        background-color: rgb(195, 131, 131);

        border: 2px solid black;

        border-radius: 20px;

*/
    }

    .text1 {

        position: absolute;
        display: block;

        height: 100px;
        width: calc( 100% - 40px) ;

        /*top:70px ;*/

        color: white;

        font-family: "Georgia-regular";
        font-weight: 400;
        font-style: normal;

        text-align: left;

        font-size: 32px;
        line-height: 32px;
        letter-spacing: 1.7px;

        margin: 20px 0 0 20px;
        padding: 0;

        bottom: 50px;


    }

    .text2 {

        position: absolute;
        display: block;

        visibility: hidden;

        height: 100px;
        width: calc( 100% - 40px) ;

        /*top:70px ;*/

        color: white;

        font-family: "Georgia-regular";
        font-weight: 400;
        font-style: normal;

        text-align: left;

        font-size: 32px;
        line-height: 32px;
        letter-spacing: 1.7px;

        margin: 20px 0 0 20px;
        padding: 0;

        bottom: 50px;


    }

    .text3 {

        position: absolute;
        display: block;

        visibility: hidden;

        height: 100px;
        width: calc( 100% - 40px) ;

        /*top:70px ;*/

        color: white;

        font-family: "Georgia-regular";
        font-weight: 400;
        font-style: normal;

        text-align: left;

        font-size: 32px;
        line-height: 32px;
        letter-spacing: 1.7px;

        margin: 20px 0 0 20px;
        padding: 0;

        bottom: 50px;


    }

    .text4 {

        position: absolute;
        display: block;

        visibility: hidden;

        height: 100px;
        width: calc( 100% - 40px) ;

        /*top:70px ;*/

        color: white;

        font-family: "Georgia-regular";
        font-weight: 400;
        font-style: normal;

        text-align: left;

        font-size: 32px;
        line-height: 32px;
        letter-spacing: 1.7px;

        margin: 20px 0 0 20px;
        padding: 0;

        bottom: 50px;


    }

    .control {
        display: flex;
        position: relative;

        justify-content: space-between;
        align-items: center;

        width: calc( 100% - 20px) ;

        margin: 0 10px 0 10px;



    }

    .control1 {
        display: block;
        position: relative;

        width: 50px;
        height: 50px;

        border: 6px solid blue;
        border-radius: 25px;
        box-sizing: border-box;

        cursor: pointer;


    }
    
    .control2 , .control3 , .control4 {
        display: block;
        position: relative;

        width: 50px;
        height: 50px;

        background-color: blue;
        border-radius: 25px;

        cursor: pointer;

    }

    .control2:hover , .control3:hover , .control4:hover {
        background-color: white;


    }

    .control1:hover {
        border: 6px solid white;

    }






}